@import '../../style/settings.scss';

.aboutWrapper {
  padding: 1.5rem 3rem; /* Utilisation de rem pour padding */
  display: flex;
  flex-direction: column; /* Maintien de la direction flex */
  align-items: center;

  .aboutCategory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Correspond à ~30px */
    margin-top: 2rem; /* Correspond à ~30px */
  }

  @media screen and (max-width: 600px) {
    padding: 1rem; /* Padding réduit pour les petits écrans */
  }
}