@import '../../style/settings.scss';

.aboutWrapper {
  padding-left: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .aboutCategory {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}
