@import '../../style/settings.scss';

.homeContainer {
  font-family: $fontFamily;
  margin-left: 50px;
  margin-right: 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (max-width: 425px) and (min-width: 320px) {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__cardContainer {
    border-radius: 25px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 3%;
    background-color: #f6f6f6;
    @media screen and (max-width: 425px) and (min-width: 320px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }
}
