@import '../../style/settings.scss';

.navWrapper {
  background-color: $primaryColor;
  color: $textColor;
  padding: 2rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 14rem;
    height: auto;

    @media screen and (max-width: 900px) {
      max-width: 12rem;
    }

    @media screen and (max-width: 600px) {
      max-width: 8rem;
    }
  }

  .linkWrapper {
    display: flex;
    gap: 3rem; 

    a {
      color: $textColor;
      text-decoration: none;
      font-size: 2rem; 
      font-size: calc(1.8rem + 0.5vw); 
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 900px) {
    padding: 1.5rem 2rem 0 2rem;

    .linkWrapper {
      a {
        font-size: calc(1.8rem + 0.4vw); 
      }
    }
  }

  @media screen and (max-width: 600px) {
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;

    .linkWrapper {
      justify-content: center;
      gap: 1.5rem;

      a {
        font-size: 0.7rem; 
      }
    }
  }
}
