@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primaryColor: white;
$secondaryColor: #ff6060;
$textColor: black;
$fontFamily: 'Montserrat', sans-serif;

body {
  margin: 0;
}
