@import '../../style/settings.scss';

.accommodation {
  padding: 3rem;
  @media screen and (max-width: 900px) {
    padding: 2rem;
  }
  @media screen and (max-width: 600px) {
    padding: 1rem;
  }

  .accommodationInformation {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .location {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem; 
      margin: 1.25rem 0; 

      h2 {
        color: $secondaryColor;
        font-size: 2.25rem; 
        margin: 0;
        @media screen and (max-width: 900px) {
          font-size: 1.75rem; 
        }
        @media screen and (max-width: 600px) {
          font-size: 1.5rem;
        }
      }

      p {
        margin: 0;
        font-size: 1rem; 
        @media screen and (max-width: 600px) {
          font-size: 0.875rem; 
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        @media screen and (max-width: 600px) {
          gap:0.5rem
        }
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          padding: 0.3125rem 0.9375rem; 
          border-radius: 0.75rem;
          background-color: $secondaryColor;
          color: $primaryColor;
          font-weight: bold;
          font-size: 0.875rem; 
          @media screen and (max-width: 600px) {
            font-size: 0.75rem;
            padding: 0.3125rem 0.625rem; 
          }
        }
      }
    }

    .hostAndRating {
      display: flex;
      flex-direction: column;
      gap: 1.25rem; 

      @media screen and (max-width: 900px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .host {
        display: flex;
        align-items: center;
        gap: 0.625rem; 
        color: $secondaryColor;
        font-weight: bold;
        font-size: 1.125rem; 
        span {
          font-size: 1rem; 
          @media screen and (max-width: 600px) {
            font-size: 0.875rem;
          }
        }

        img {
          width: 3.75rem; 
          height: 3.75rem;
          border-radius: 50%;
          @media screen and (max-width: 600px) {
            width: 3.125rem;
            height: 3.125rem;
          }
        }
      }

      .rating {
        display: flex;
        gap: 0.3125rem; 

        .star {
          color: #f6f6f6;

          svg {
            width: 1.25rem; 
            height: 1.25rem;
            @media screen and (max-width: 600px) {
              width: 1rem; 
              height: 1rem;
            }
          }

          &.filled {
            color: $secondaryColor;
          }
        }
      }
    }
  }

  .descriptionAndEquipments {
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    gap: 1.875rem; 
    overflow: hidden;

    @media screen and (max-width: 900px) {
      gap: 1.5rem; 
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 1.5rem;
    }

    .collapse {
      width: 100%;
    }
  }
}
